/*Variables*/
:root{
  --black: black;
  --gray: #666;
  --white: whitesmoke;
}

/*General look*/
::selection{background-color: #bbb}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--black);
  color: var(--white);
  font-family: 'Heebo', 'Verdana', sans-serif;
}

figcaption{
  margin-top: 4rem;
  font-size: .8rem;
  color: #ddd;
}

section{margin-bottom: 10rem;}

a{
  text-decoration: none;
  color: inherit;
}

h1{font-family: 'Oswald', 'Helvetica', sans-serif}

h2,h3,h4,h5,h6{
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
}

/*Utility classes*/
.flex{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-centered{text-align: center}

.m-bottom{margin-bottom:2rem}

.btn{
  display: block;
  width: 10rem;
  margin: 2rem auto .5rem;
  padding: .1rem 3rem;
  text-align: center;
  color: var(--white);
  border: solid 2px var(--white);
  transition: all 250ms ease-in;
}.btn:hover{
  color: var(--black);
  background-color: var(--white);
}

.icono:before{
  font-size: 1.5rem;
  margin: 0 .2rem;
  transition: all 300ms ease-in;
}.icono:hover{
  color: var(--black);
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}.medium-container{
  max-width: 500px;
  margin: 0 auto;
}.mini-container{
  max-width: 300px;
  margin: 0 auto;
}

/*-------------First Navigation <index>
AND Landing-Index*/
#index-nav{
  display: flex;
  justify-content: flex-end;
  height: 2rem;
}#index-nav > div{
  padding: 0;
  margin: 2rem 4rem 1rem 0;
}

.landing{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.index-container{
  max-width: 800px;
  margin: 0 auto;
}.index-container p {
  text-align: center;
}


/*----------------BLOG*/
#casita{
  color: var(--black);
  background-color: var(--white);
  position: relative;
  top: 1rem;
  left: 2rem;
  padding: .2rem .5rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 200ms ease-in;
}#casita:hover{
  color: var(--white);
  background-color: var(--black);
  font-size: 2rem;
}

.name{
  position: absolute;
  color: var(--gray);
  font-size: 4rem;
  transform: rotate(-90deg);
  top: 200px;
  left: -300px
}

.intro{
  max-width: 800px;
  margin: 5rem auto;
  position: relative;
}

.white-items{
  width: 400px;
  height: 100px;
  background-color: white;
  margin: 10px;
}

.gray-stripe{
  background-color: var(--gray);
  margin: initial;
  width: initial;
  padding: 4rem 1rem;
  margin-bottom: 7rem;
}


/*------------------Footer (gray area)*/
.main-footer{
  background-color: var(--gray);
  padding: 6rem 1rem 2rem;
  margin-top: 4rem;
}

footer div{
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

.copyright{
  font-size: .8rem;
  margin-top: 6rem;
  padding: 3rem;
}